.features {
  @extend %listStyle;
  align-items: flex-start;
  
  &__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }

  &__icon-bg {
    @extend %flex;
    justify-content: center;
    @include size(270px, 120px);
    margin-bottom: 30px;

    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__icon {
    @include size(70px, 70px);
  }

  &__title {
    margin-bottom: 10px;

    @include textStyle(700, 1.14);
    text-transform: uppercase;
  }

  &__descr {
    line-height: 1.71;
    color: $primary-text-color;
  }
}