.features__item {
  max-width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }  
}

.features__icon-bg {
  @include flex();
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;    
}

.features__icon {
  @include size(70px, 70px);    
}

.features__title {
  margin-bottom: 10px;

  @include textStyle(700, 1.14);
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.features__descr {    
  line-height: 1.71;
  color: $primary-text-color;    
}  


// tablet
@media screen and (min-width: 768px) {
  .features {   
    @include listStyle();
    row-gap: 30px;
  }

  .features__item {
    margin-bottom: 0;
    width: 354px;
    flex-basis: calc((100% - 1 * 30px) / 2);   
  }
}


// desktop
@media screen and (min-width: 1200px) {
  .features__item {
    margin-bottom: 0;
    width: 270px;
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}
