.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;

  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

&__title {
  margin: 0 auto 30px auto;
  max-width: 696px;

  @include textStyle(900, 1.36);
  letter-spacing: 0.06em;
  font-size: 44px;
  text-transform: uppercase;
  color: $primary-white-color;
}

&__button {
  min-width: 216px;
  padding: 10px 32px;
  @extend %button;
}

&__button:hover,
&__button:focus {
  background-color: $button-hover-color;
}
}