.hero {
  margin: auto;
  max-width: 1600px;
  padding: 118px 0;

  text-align: center;
  
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  

&__title {
  margin: 0 auto 30px auto;
  width: 360px; 

  @include textStyle(900, 1.62);
  letter-spacing: 0.06em;
  font-size: 22px;
  text-transform: uppercase;
  color: $primary-white-color;  
}

&__button {
  width: 200px;  
  padding: 10px 32px;
  @include button();  
}

&__button:hover,
&__button:focus {
  background-color: $button-hover-color;
}
}


// tablet
@media screen and (min-width: 768px) {
  .hero {    
    padding: 118px 0;

    &__title {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}


// desktop
@media screen and (min-width: 1200px) {
  .hero {    
    height: 600px;
    padding: 200px 0;

    &__button {
      width: 216px;
    }
  }
}
