.footer {
  background-color: #2f303a;

&__page {  
  padding: 60px 15px;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 60px 88px 60px 76px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    padding: 60px 15px;
    flex-wrap: nowrap;
    text-align: start;
  }
}

&__logo {
  display: block;
  margin-bottom: 28px;  
  color: $primary-white-color;
}
}

.footer__adress {
  margin-bottom: 12px;
  width: 232px;   
  display: inline-block;

  font-style: normal;
  line-height: 1.71;
  color: $primary-white-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__link {
  margin-bottom: 12px;
  display: block;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms $timing-function;

&:last-child {
  margin-bottom: 60px;
}

&:hover,
&:focus {
  color: $accent-color;
}
}

.footer__list { 
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-left: 166px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__title { 
  margin-bottom: 20px;
  display: inline-block;

  @include textStyle(700, 1.14);
  text-transform: uppercase;
  color: $primary-white-color;

  @media screen and (min-width: 1200px) {
    margin-left: 94px;
  }
}

.footer__networks {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.footer__icon-bg {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $primary-white-color;

  transition: background-color 250ms $timing-function;

&:hover,
&:focus {
  background-color: $accent-color;
}
}

.footer__items {
  display: flex;
  flex-direction: column;  

  @media screen and (min-width: 1200px) {
    margin-left: 94px;
    flex-direction: row;
  }
}

.footer__field {
  margin: 0 auto 20px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;  

  color: $primary-white-color;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0;    
  }

&::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
}

.footer__button {
  margin: 0 auto; 
  padding: 10px 32px;
  width: 200px;

  @include flex();
  justify-content: center;
  
  @include button();
  background-size: cover;

&:hover,
&:focus {
  background-color: $button-hover-color;
}

@media screen and (min-width: 1200px) {  
  margin-left: 12px;
}
}

.footer__button-icon {
  @include size(24px, 24px);  
  margin-left: 12px;

  background-size: cover;
  fill: $primary-white-color;
}