.header {
  position: relative;
  background-color: $primary-white-color;  
  border-top: $primary-white-color;
  border-bottom: 1px solid #ececec;
}

.main {  
  padding-top: 10px;
  padding-bottom: 10px;
  @include flex();  
  @include textStyle(500, 1.14);
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;    
  }
}

@media screen and (max-width: 768px) {
.menu-button {  
  margin-left: auto;
  padding: 0;  
  display: inline-flex;
  justify-content: space-between;

  border-style: none;
  background-color: $primary-white-color;
  cursor: pointer;   

  &:hover,
  &:focus {
    cursor: pointer;
    fill: $accent-color;
  }  
}

.menu-button .close-icon {
  display: none;
}

.menu-button.is-open .close-icon {  
  display: block;
}

.menu-button.is-open .open-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu.is-open {  
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 38px;
  padding-left: 40px;
  padding-bottom: 48px;
  width: 100%;
  height: 796px;
  display: block;
  background-color: $primary-white-color;

& .icon-mail,
& .icon-phone {
  display: none;
}

& .nav,
& .contacts {
  display: flex; 
  flex-direction: column;  
}

& .nav {  
  margin-bottom: 274px;
  width: 100%;    
}

& .nav__link {  
  margin-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

& .nav__link--active {
  color: $accent-color;
}

& .contacts {
  margin-bottom: 64px;
  flex-direction: column-reverse;
}

& .contacts__link {  
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;
}

& .contacts__link--style {
  margin-bottom: 32px;
  display: block;
  
  font-size: 34px;
  line-height: 1.18;  
  color: $accent-color;
}

& .menu-networks {  
  height: 22px;
  display: flex;
  flex-direction: row;  
  align-items: center;
}

& .menu-networks__link {  
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $accent-color;
}

& .line-icon {
  margin-left: 10px;
  margin-right: 10px;

  @include size (1px, 22px);  
  border: 1px solid rgba(33, 33, 33, 0.2);  
  transform: translateY(5px);
}
}
}

// tablet

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .mobile-menu {
    display: flex;
    width: 100%;
  }  

  .nav {
    display: flex;
    margin-left: 86px;

    &__item:not(:first-child) {
      margin-left: 50px;
    }
  }

  .nav__link {
    position: relative;
    display: block;
    padding: 32px 0;
  
    text-align: center;
    text-decoration: none;
  
    color: black;
    transition: color 250ms $timing-function;
  
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .nav__link--active {
    color: $accent-color;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 4px;

      color: $accent-color;

      background-color: $accent-color;
      border-radius: 2px;
    }
  }

  .contacts {
    padding-top: 21px;
    display: flex;
    margin-left: auto;
    flex-direction: column;    
  }

  .icon-mail {
    @include size(14px, 10px);
    margin-right: 8px;
    fill: $primary-text-color;
  }

  .icon-phone {
    @include size(10px, 14px);
    margin-right: 8px;
    fill: $primary-text-color;
  }  
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contacts__link {
    @include flex();
    color: $primary-text-color;
    text-decoration: none;

    transition: color 250ms $timing-function,
      fill 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
     fill: $accent-color;
    }

    &:hover .icon-mail,
    &:hover .icon-phone {
      fill: $accent-color;
    }
  }

  .menu-networks {
    display: none;
  }
}

// desktop

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 92px;
  }

  .contacts {
    padding-top: 0;
    flex-direction: row;

    &__item:not(:first-child) {
      margin-left: 50px;
    }
  }

  .icon-mail {
    @include size(16px, 12px);
    margin-right: 10px;
  }

  .icon-phone {
    @include size(12px, 16px);
  }

  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    @include flex();
    color: $primary-text-color;
    text-decoration: none;
  
    transition: color 250ms $timing-function,
      fill 250ms $timing-function;
  
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }
}


















